name: local_first
description: "Local-first Flutter package for offline sync with support for Hive, SQLite, and common databases. Fast, lightweight, and reliable."
version: 0.3.0
repository: https://github.com/rafaelsetragni/local_first
issue_tracker: https://github.com/rafaelsetragni/local_first/issues

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

topics:
  - local-first
  - repository
  - sync
  - offline-first


dependencies:
  flutter:
    sdk: flutter
  hive_flutter: ^1.1.0
  path: ^1.9.0
  sqflite: ^2.3.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  mocktail: ^1.0.3
  hive: ^2.2.3
  build_runner: ^2.10.4
  sqflite_common_ffi: ^2.3.5
