name: local_first
description: "Local-first solution 100% self hosted, for offline and live data sync between multiple devices with support for Hive, SQLite, websockets, etc."
version: 0.7.2
repository: https://github.com/rafaelsetragni/local_first
issue_tracker: https://github.com/rafaelsetragni/local_first/issues

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

resolution: workspace

topics:
  - local-first
  - repository
  - sync
  - offline-first

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  mocktail: ^1.0.3
  mockito: ^5.4.4
  build_runner: ^2.10.4
