name: Full tests workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y lcov
          dart pub global activate melos

      - name: Bootstrap workspace
        run: melos bootstrap

      - name: Run coverage (melos)
        run: melos coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/lcov.info
          flags: unittests
          fail_ci_if_error: false
